__pycache__/
*.pyc
.env
secrets/**/*
!secrets/.gitkeep
!secrets/README.md
!secrets/**/
!secrets/**/*.env.example
!secrets/**/*.json.example
*.json.key
*service_key*.json
*service-account*.json
.venv/
.pytest_cache/
archive/
.DS_Store
